@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
.form_layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0c0c0c1f;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 0 5px 15px black;
  text-align: center;
  row-gap: 1rem;
  margin: 1rem;
  min-width: 40vw;
}
#form{
    display: grid;
    row-gap: 1rem;
}
h1 {
  font-family: "Bruno Ace SC", cursive;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  font-size: xx-large;
  color: #efdcdc;
  text-align: center;
  text-shadow: 0 3px 20px #763636;
}
h4 {
  text-align: center;
  color: cornsilk;
}
.login_page_layout {
  display: flex;
  position: absolute;
  top: 10vh;
  justify-content: space-around;
  align-items: center;
  width: 90vw;
  left: 5vw;
}
#input {
  background: bisque;
}
span {
  color: azure;
}
.link:hover {
  color: blue;
  cursor: pointer;
}
#animate_logo{
  width: 50vw;
}

@media screen and (max-width:650px) {
  .login_page_layout {
    top: 30px;
    flex-direction: column;
  }
  .form_layout {
    min-width: 80vw;
  }
  #animate_logo{
    width: 40vw;
  }
}